.team-section {
  text-align: center;
  padding: 15px;
  display: inline-block;
  height: 40px;
}

.team-section h3 {
	margin-bottom: 0;
}

.divider {
	width: 40px;
	display: inline-block;
    vertical-align: top;
    margin-top: 36px;
}

span.team-record {
	font-size: 14px;
}
h4 {
	margin: 3px;
}