.team-form-line {
	width: 300px;
	display: inline-block;
	padding: 5px 10px;
}

label {
	font-weight: bold;
	line-height: 2;
}

span {
	font-weight: normal;
}

input {
	width: 70px;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	float: right;
}
